<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentación.Properties.Settings.AsiloConnectionString"
            connectionString="Data Source=LAPTOP-CQAQ576A\SQLEXPRESS;Initial Catalog=Asilo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>